@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Nunito:600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
}

.hide {
    display: none;
}

.user-rock img,
.user-scissors img,
.user-paper img,
.comp-rock img,
.comp-scissors img,
.comp-paper img {
    width: 300px;
}

.game-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .user-choice-screen {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        padding: 100px 2em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        background-color: #fff;
        h1 {
            margin: 0 0 50px;
        }
        .user-option {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            flex-wrap: wrap;
            img {
                background-color: rgba(0, 0, 0, 0.2);
                cursor: pointer;
                padding: 30px;
                margin: 10px;
                transition: 0.5s;
                border-radius: 0px;
                border: 10px solid white;
                box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.2);
                &:hover {
                    box-shadow: none;
                }
            }
        }
        @media (max-width: 425px) {
            .user-option {
                grid-template-columns: 1fr;
            }
        }
    }
    .result-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        #winning-text {
            font-size: 48px;
        }
        .results-container {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .user-result {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .player-header {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 35px;
                    padding: 25px 0;
                }
                .user-result-image-container {
                    display: inline-block;
                    padding: 30px;
                    margin: 10px;
                    height: 275px;
                    border-radius: 10px; 
                    transition: 0.5s;

                    img {
                        max-width: 300px;
                        animation: bounceUp 0.5s infinite;
                    }
                }
            }


            .vs-container {
                margin: 0 100px;
                font-family: 'Nunito', sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 101px;
                .scoreboard {
                    font-size: 48px;
                }
            }

            .comp-result {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .player-header {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 35px;
                    padding: 25px 0;
                }

                .comp-result-image-container {
                    display: inline-block;
                    padding: 30px;
                    margin: 10px;
                    height: 275px;
                    transition: 0.5s;
                    border-radius: 10px; 

                    img {
                        max-width: 300px;
                        animation: bounceUp 0.5s infinite;
                    }
                }
            }
        }
        .play-again-container {
            display: none;

            .play-again {
                padding: 15px 30px;
                margin-top: 25px;
                background-color: #00b894;
                font-weight: 700;
                font-size: 18px;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                    background-color: #02d3a9;
                }
            }
        }
    }
}

@keyframes bounceUp {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -30px;
    }
    100% {
        margin-top: 0;
    }
}